body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

ul.social-buttons {
  margin-bottom: 0;
  text-align: center;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: black;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #7762a0;
  color: white;
}

@font-face {
  font-family: 'Meltix-Regular-Demo';
  src: url("/fonts/Meltix-Regular-Demo.ttf.woff") format("woff"), url("/fonts/Meltix-Regular-Demo.ttf.svg#Meltix-Regular-Demo") format("svg"), url("/fonts/Meltix-Regular-Demo.ttf.eot"), url("/fonts/Meltix-Regular-Demo.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-brand .banner-logo {
  width: 90px;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  background: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .mega-title {
  font-family: 'Meltix-Regular-Demo';
  font-size: 110px;
  letter-spacing: -8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 500px) {
  header.masthead .mega-title {
    font-size: 63px;
    letter-spacing: -4px;
  }
}

header.masthead .mega-subtitle {
  font-family: 'Meltix-Regular-Demo';
  font-size: 30px;
  letter-spacing: 0;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #7762a0 0%, #383179 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #7762a0 !important;
}

.btn-primary {
  background-color: #7762a0;
  border-color: #7762a0;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #5f4e81 !important;
  border-color: #5f4e81 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(119, 98, 160, 0.5);
}

.btn-secondary {
  background-color: #383179;
  border-color: #383179;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #272255 !important;
  border-color: #272255 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(56, 49, 121, 0.5);
}

section {
  background-color: white;
}

@media (min-width: 1500px) {
  section {
    width: 76%;
    margin: 0 auto;
  }
}

.main-content {
  background-color: #eaeaea96;
}

#cicle {
  background-color: #f5f5f5;
}

#cicle .content {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

a.navbar-brand {
  position: relative;
  font-family: Meltix-Regular-Demo;
  font-size: 20px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#ecommerse {
  height: 500px;
  position: relative;
  overflow: hidden;
  background-image: url("/images/ecoomerse-new.jpg");
  background-size: 100% 100%;
}

#ecommerse .text {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

#ecommerse .container {
  max-width: 100%;
}

#ecommerse .eccommerse {
  width: 100vw;
  height: 500px;
  overflow: hidden;
}

#ecommerse .eccommerse:after {
  content: ' ';
  border-bottom: 500px solid white;
  border-right: 100vw solid transparent;
  width: 0;
  position: absolute;
}

#ecommerse .description {
  position: absolute;
  z-index: 200;
  bottom: -41px;
}

#ecommerse .description .btn-container {
  text-align: center;
}

#ecommerse .description .btn-container .btn {
  margin-top: 0 !important;
}

#delivery {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  height: 500px;
  position: relative;
  background-image: url("/images/motos23.jpg");
  background-size: 100% 100%;
  overflow: hidden;
}

#delivery .text {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

#delivery .container {
  max-width: 100%;
}

#delivery .delivery {
  width: 100vw;
  height: 500px;
}

#delivery .delivery:after {
  content: ' ';
  border-top: 500px solid white;
  border-left: 100vw solid transparent;
  width: 0;
  position: absolute;
}

#delivery .description {
  position: absolute;
  z-index: 200;
  top: 0;
}

#delivery .description .btn-container {
  text-align: center;
}

#delivery .description .btn-container .btn {
  margin-top: 0 !important;
}

#company {
  border-top: solid #ececec 30px;
}

#company .container {
  padding-top: 24px;
}

#company .title {
  text-align: center;
}

#company .p-5 {
  padding-bottom: 0 !important;
  padding: 2rem !important;
}

#company .fa-stack.fa-3x {
  width: 100%;
  text-align: center;
}

#company .display-4.title {
  margin-bottom: 30px;
  text-align: center;
  display: inline;
}

@media (max-width: 650px) {
  #company .display-4.title {
    font-size: 35px;
    display: block;
  }
}

#related-companies .company-review {
  margin-top: 15px;
}

#related-companies .company-review .review-title {
  font-size: 24px;
}

footer {
  border: solid;
  height: 90px;
  padding-top: 23px;
}

#map {
  border-top: solid #ececec 30px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 300px;
}

@media (min-width: 1500px) {
  #map {
    width: 76%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  #map {
    height: 400px;
  }
}

footer {
  border: none !important;
}

footer .telephone {
  padding-top: 8px;
}

.navbar-custom .navbar-brand {
  text-transform: lowercase;
  letter-spacing: 0;
}

.navbar-custom .navbar-brand .banner-logo {
  position: absolute;
  right: -17px;
  top: 1px;
  width: 30px !important;
}

.slider {
  width: 100%;
  height: 685px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;
}

.slider .container {
  width: 100%;
  max-width: 100%;
  height: 685px;
  background-size: cover;
  background-position: center top;
}

.slider .container .mega-title {
  margin-top: 200px;
}

.slider .container .banner-logo {
  width: 225px;
  top: -57px;
  position: absolute;
  left: 60%;
}

@media (max-width: 500px) {
  .slider .container .banner-logo {
    width: 100px;
    top: -24px;
    left: 76%;
  }
}

.slider .loguito {
  position: relative;
}

.slider .log1 {
  background-image: url("/images/speed1.jpg");
}

.slider .log2 {
  background-image: url("/images/ecommerse1.jpg");
}

.slider .log3 {
  background-image: url("/images/route1-bng.jpg");
}

.slider .log4 {
  background-image: url("/images/credit.jpg");
}

.slider {
  width: 100%;
  height: 685px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  white-space: nowrap;
}

.slider .container {
  width: 100%;
  max-width: 100%;
  height: 685px;
  background-size: cover;
  background-position: center top;
}

.slider .container .mega-title {
  margin-top: 200px;
}

.slider .container .banner-logo {
  width: 225px;
  top: -57px;
  position: absolute;
  left: 60%;
}

@media (max-width: 500px) {
  .slider .container .banner-logo {
    width: 100px;
    top: -24px;
    left: 76%;
  }
}

.slider.slim {
  height: 472px;
}

.slider.slim .container {
  height: 472px;
}

.slider.slim .mega-title {
  margin-top: 170px;
}

.slider.slim .banner-logo {
  top: -87px;
}

@media (max-width: 500px) {
  .slider.slim .banner-logo {
    top: -54px;
  }
}

.slider.slim .main-contacto {
  display: none;
}

.slider > div {
  position: absolute;
  animation: move_slide2 16s infinite;
  opacity: 0;
}

.slider > .log1 {
  animation-delay: 0;
}

.slider > .log2 {
  animation-delay: 4s;
}

.slider > .log3 {
  animation-delay: 8s;
}

.slider > .log4 {
  animation-delay: 12s;
}

@keyframes move_slide {
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@keyframes move_slide2 {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.company-contact a {
  margin-top: 0 !important;
  padding: 9px;
  margin-left: 61px;
}

#contact-form {
  margin-bottom: 60px;
}

#contact-form .form {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
}

@media (max-width: 992px) {
  #contact-form .form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#contact-form .form .floating-left {
  float: left;
}

#contact-form .form .form-control {
  display: block;
  width: 100%;
  height: 66px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#contact-form .form input.form-control {
  border-radius: 100px !important;
}

#contact-form .form input.form-control.error {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
}

#contact-form .form textarea.form-control {
  height: 228px;
  resize: none;
  border-radius: 20px;
}

#contact-form .form textarea.form-control.error {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
}

@media (max-width: 765px) {
  #contact-form .form textarea.form-control {
    height: 150px;
  }
}

#contact-everywhere input.form-control.error {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
}

#contact-everywhere textarea.form-control.error {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
}

.icons-container {
  text-align: center;
  padding-bottom: 0px !important;
}

.social-buttons.whatsaap {
  float: left;
  margin-right: 10px;
}

#about {
  border-top: solid #ececec 30px;
  padding: 150px 20px;
  margin-bottom: 33px;
}

#about .timeline-image {
  background-color: black;
}

#about .timeline-image.main {
  background-color: #5f4e81;
}

#about .timeline-image.gold {
  background-color: #fed136;
}

.timeline {
  position: relative;
  padding: 0;
  margin-bottom: 53px;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 27px 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #7762a0;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 27px 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

@media (max-width: 600px) {
  .timeline .timeline-heading h4 {
    font-size: 16px;
    width: 100px;
  }
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 30px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 37px 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 37px 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 55px 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 55px 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 65px 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    padding-top: 28px;
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 65px 100px 20px 20px;
  }
}

/*
  .timeline.boomerang{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    .timeline-image{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .timeline-panel{
        display: none;
    }
  }*/
.timeline.boomerang.none {
  display: none;
}

.timeline-cicle .one-cicle {
  width: 20%;
  float: left;
}

.timeline-cicle .one-cicle.down {
  margin-top: 90px;
  margin-bottom: 37px;
}

#cicle1 .timeline:before, #cicle3 .timeline:before, #cicle5 .timeline:before {
  display: none !important;
}

#cicle1 .timeline-image, #cicle3 .timeline-image, #cicle5 .timeline-image {
  margin-top: 36px;
}

@media (max-width: 600px) {
  #cicle1 .timeline-image .fa-stack, #cicle3 .timeline-image .fa-stack, #cicle5 .timeline-image .fa-stack {
    width: 80px;
    height: 80px;
  }
  #cicle1 .timeline-image .fa-stack svg, #cicle3 .timeline-image .fa-stack svg, #cicle5 .timeline-image .fa-stack svg {
    width: 34px !important;
    margin-left: -14px;
  }
}

#cicle1 .timeline-image img, #cicle3 .timeline-image img, #cicle5 .timeline-image img {
  width: 90px;
  margin-left: 113px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(-8deg);
}

@media (max-width: 500px) {
  #cicle1 .timeline-image img, #cicle3 .timeline-image img, #cicle5 .timeline-image img {
    margin-left: 32px;
    margin-top: -23px;
    width: 43px;
  }
}

#cicle1 .timeline-panel, #cicle3 .timeline-panel, #cicle5 .timeline-panel {
  margin-top: 0;
  padding: 0px;
  width: 100%;
  text-align: center;
}

#cicle2 .timeline:before, #cicle4 .timeline:before {
  display: none !important;
}

#cicle2 .timeline-inverted, #cicle4 .timeline-inverted {
  position: relative;
}

#cicle2 img, #cicle4 img {
  width: 90px;
  position: absolute;
  right: -46px;
  top: -28px;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
}

#cicle2 .timeline-panel, #cicle4 .timeline-panel {
  padding: 0px;
  width: 100%;
  text-align: center;
  padding-top: 164px;
}

@media (max-width: 600px) {
  #cicle2 .timeline-panel, #cicle4 .timeline-panel {
    padding-top: 95px;
  }
}

@media (max-width: 600px) {
  #cicle2, #cicle4 {
    margin-left: -5px;
  }
  #cicle2 img, #cicle4 img {
    width: 43px;
    right: -18px;
  }
  #cicle2 .fa-stack, #cicle4 .fa-stack {
    width: 80px;
    height: 80px;
  }
  #cicle2 .fa-stack svg, #cicle4 .fa-stack svg {
    width: 34px !important;
    margin-left: -14px;
  }
}

@media (max-width: 500px) {
  #cicle2 {
    margin-left: -5px;
  }
}

@media (max-width: 500px) {
  #cicle4 {
    margin-left: -13px;
  }
}

#cicle3 .timeline-image, #cicle5 .timeline-image {
  margin-left: -65px;
}

@media (max-width: 600px) {
  #cicle3 .timeline-image, #cicle5 .timeline-image {
    margin-left: -10px;
  }
}

#contact-everywhere {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 300px;
  z-index: 2000;
  right: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#contact-everywhere.closed .contact-content {
  display: none;
}

#contact-everywhere .header-everywhere {
  border-bottom: 1px solid gainsboro;
  text-align: center;
  padding: 10px 10px;
}

#contact-everywhere .header-everywhere p {
  display: inline;
}

#contact-everywhere .header-everywhere svg {
  float: right;
  margin-top: 4px;
}

#contact-everywhere .contact-content {
  text-align: center;
  padding: 10px 10px;
}

#contact-everywhere .contact-content input {
  border-radius: 100px !important;
}

#contact-everywhere textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 122px;
  resize: none;
  border-radius: 20px;
}

#contact-everywhere .company-contact {
  text-align: center;
}

#contact-everywhere .company-contact a {
  margin: 0;
  width: 130px;
}

.timeline-big {
  width: 100%;
  max-width: 1440px;
}

@media (max-width: 600px) {
  .timeline-big {
    display: none;
  }
}

.timeline-small {
  width: 100%;
}

@media (min-width: 600px) {
  .timeline-small {
    display: none;
  }
}

.loader {
  position: absolute;
  width: 23px;
  top: 23px;
  left: 112px;
  display: none;
}

.loader2 {
  position: absolute;
  width: 23px;
  top: 8px;
  left: 97px;
  display: none;
}

#submit-cadete a {
  position: relative;
}

#submit-cadete.sending a {
  background-color: #ca82ff !important;
}

#submit-cadete.sending a:hover {
  background-color: #ca82ff !important;
}

#submit-cadete.sending .loader {
  display: block;
}

#submit-empresa a {
  position: relative;
}

#submit-empresa.sending a {
  background-color: #ca82ff !important;
}

#submit-empresa.sending a:hover {
  background-color: #ca82ff !important;
}

#submit-empresa.sending .loader {
  display: block;
}

#submit-every a {
  position: relative;
}

#submit-every.sending a {
  background-color: #ca82ff !important;
}

#submit-every.sending a:hover {
  background-color: #ca82ff !important;
}

#submit-every.sending .loader2 {
  display: block;
}

#related-companies {
  display: none;
}

@media (max-width: 600px) {
  footer .list-inline.social-buttons {
    margin-bottom: 51px;
  }
  footer .bg-white {
    margin-bottom: 100px;
  }
  footer .company-contact {
    display: none;
  }
}

.firt-parrafo {
  margin-top: 31px;
}
