// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "bootstrap-overrides.scss";


#cicle{
    background-color: #f5f5f5;
    .content{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

#ecommerse{
    height: 500px;
    position: relative;
    .text{
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    background-image: url("/images/e-commerce2.jpg");
    background-size: 100% 100%;
    .container{
        max-width: 100%;
    }
    .eccommerse{
        width: 100vw;
        height: 500px;
    }
    .eccommerse:after {
        content: ' ';
        border-bottom: 500px solid white;
        border-right: 100vw solid transparent;
        width: 0;
        position: absolute;
    }
    .description{
        position: absolute;
        z-index: 200;
        bottom: -41px;
        .btn-container{
            text-align: center;
            .btn{
                margin-top: 0!important;
            }
        }
    }
}

#delivery{
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    height: 500px;
    position: relative;
    background-image: url("/images/bg1.jpg");
    background-size: 100% 100%;
    .text{
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    .container{
        max-width: 100%;
    }
    .delivery{
        width: 100vw;
        height: 500px;
    }
    .delivery:after {
        content: ' ';
        border-top: 500px solid white;
        border-left: 100vw solid transparent;
        width: 0;
        position: absolute;
    }
    .description{
        position: absolute;
        z-index: 200;
        top: 0;
        .btn-container{
            text-align: center;
            .btn{
                margin-top: 0!important;
            }
        }
    }
}

#company{
    .container{
        padding-top: 24px;
    }
    .title{
        text-align: center;
    }
    .p-5{
        padding-bottom: 0!important;
    }
}

#related-companies{
    .company-review{
        margin-top: 15px;
        .review-title{
            font-size: 24px;
        }
    }
}

footer{
    border: solid;
    height: 90px;
    padding-top: 23px;
}

#map {
    border-top: solid #ececec 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 300px;
  }
  @media(min-width:992px) {
    .content-section {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    #map {
      height: 400px;
    }
  }

footer{
    border: none!important;
    .telephone{
        padding-top: 8px;
    }
}



.slider{
    width:100%;
    height:685px;
    overflow:hidden;
    position:relative;
    box-sizing: border-box;
    white-space: nowrap;

    .container{
        width: 100%;
        max-width: 100%;
        height: 685px;
        .mega-title{
            margin-top: 200px;
        }
        .banner-logo{
            width: 225px;
            top: -57px;
            position: absolute;
            left: 60%;
        }
        
    }

    .loguito{
        position: relative;
    }

    .log1{
        background-image: url("/images/route-size.jpg");
    }
    .log2{
        background-image: url("/images/route2.jpg");
        
    }
    .log3{
        background-image: url("/images/bg1.jpg");
        
    }
    .log4{
        background-image: url("/images/bg2.jpg");
        
    }
}

.slider.slim{
    height: 472px;
    .container{
        width: 100%;
        max-width: 100%;
        height: 472px;
        .mega-title{
            margin-top: 174px;
        }
        .banner-logo{
            width: 225px;
            top: -57px;
            position: absolute;
            left: 60%;
        }
        
    }
}

.slider > div{
    position:absolute;
    animation:move_slide2 16s infinite;
    opacity:0;
}
.slider > .log1{ animation-delay: 0; }
.slider > .log2{ animation-delay: 4s; }
.slider > .log3{ animation-delay: 8s; }
.slider > .log4{ animation-delay: 12s; }

@keyframes move_slide{
    10%{ opacity:1; }
    80%{ opacity:1; }
    90%{ opacity:0 }
}
@keyframes move_slide2{
    25%{opacity:1;}
    40%{opacity:0;}
}

.company-contact a{
    margin-top: 0!important;
    padding: 9px;
    margin-left: 61px;
}

#contact-form{
    margin-bottom: 60px;
    .form{
        width: 100%;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 40px;
        @media(max-width:992px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        .floating-left{
            float: left;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 66px;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        input.form-control{
            border-radius: 100px!important;
        }
        textarea.form-control{
            height: 228px;
            resize: none;
            border-radius: 20px;
            @media(max-width:765px) {
                height: 150px;
            }
        }
    }
}

.icons-container{
    text-align: center;
    padding-bottom: 0px!important;
}

.social-buttons{
    &.whatsaap{
        float: left;
        margin-right: 10px;
    }
}

#about{
    padding-top: 70px;
    margin-bottom: 33px;
    .timeline-image{
      background-color: black;
      &.main{
        background-color: #5f4e81;
      }
      &.gold{
        background-color: #fed136;
      }
    }
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      width: 2px;
      margin-left: -1.5px;
      content: '';
      background-color: $gray-200;
    }
    > li {
      position: relative;
      min-height: 50px;
      margin-bottom: 50px;
      &:after,
      &:before {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 27px 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid $gray-200;
        border-radius: 100%;
        background-color: $primary;
        h4 {
          font-size: 10px;
          line-height: 14px;
          margin-top: 12px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 27px 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading {
      h4 {
        margin-top: 0;
        color: inherit;
        &.subheading {
          text-transform: none;
        }
      }
    }
    .timeline-body {
       > ul,
      > p {
        margin-bottom: 0;
      }
    }
  }
  @media(min-width:768px) {
    .timeline {
      &:before {
        left: 50%;
      }
      > li {
        min-height: 100px;
        margin-bottom: 30px;
        .timeline-panel {
          float: left;
          width: 41%;
          padding: 37px 20px 20px 30px;
          text-align: right;
        }
        .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
          h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          float: right;
          padding: 37px 30px 20px 20px;
          text-align: left;
        }
      }
    }
  }
  @media(min-width:992px) {
    .timeline {
      > li {
        min-height: 150px;
        .timeline-panel {
          padding: 55px 20px 20px;
        }
        .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 55px 20px 20px;
        }
      }
    }
  }
  @media(min-width:1200px) {
    .timeline {
      > li {
        min-height: 170px;
        .timeline-panel {
          padding: 65px 20px 20px 100px;
        }
        .timeline-image {
          padding-top: 28px;
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            margin-top: 40px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 65px 100px 20px 20px;
        }
      }
    }
  }