// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "bootstrap-overrides.scss";

section{
    background-color: white;
    @media(min-width:1500px) {
        width: 76%;
        margin: 0 auto;
    }
}
.main-content{
    background-color: #eaeaea96;
}
#cicle{
    background-color: #f5f5f5;
    .content{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

a.navbar-brand{
    position: relative;
    font-family: Meltix-Regular-Demo;
    font-size: 20px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
#ecommerse{
    height: 500px;
    position: relative;
    overflow: hidden;
    .text{
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    background-image: url("/images/ecoomerse-new.jpg");
    background-size: 100% 100%;
    .container{
        max-width: 100%;
    }
    .eccommerse{
        width: 100vw;
        height: 500px;
        overflow: hidden;
    }
    .eccommerse:after {
        content: ' ';
        border-bottom: 500px solid white;
        border-right: 100vw solid transparent;
        width: 0;
        position: absolute;
    }
    .description{
        position: absolute;
        z-index: 200;
        bottom: -41px;
        .btn-container{
            text-align: center;
            .btn{
                margin-top: 0!important;
            }
        }
    }
}

#delivery{
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    height: 500px;
    position: relative;
    background-image: url("/images/motos23.jpg");
    background-size: 100% 100%;
    overflow: hidden;
    .text{
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
    .container{
        max-width: 100%;
    }
    .delivery{
        width: 100vw;
        height: 500px;
    }
    .delivery:after {
        content: ' ';
        border-top: 500px solid white;
        border-left: 100vw solid transparent;
        width: 0;
        position: absolute;
    }
    .description{
        position: absolute;
        z-index: 200;
        top: 0;
        .btn-container{
            text-align: center;
            .btn{
                margin-top: 0!important;
            }
        }
    }
}

#company{
    .container{
        padding-top: 24px;
    }
    .title{
        text-align: center;
    }
    .p-5{
        padding-bottom: 0!important;
    }
    .display-4.title{
        margin-bottom: 30px;
        text-align: center;
        display: inline;
    }
}

#related-companies{
    .company-review{
        margin-top: 15px;
        .review-title{
            font-size: 24px;
        }
    }
}

footer{
    border: solid;
    height: 90px;
    padding-top: 23px;
}

#map {
    border-top: solid #ececec 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 300px;
    @media(min-width:1500px) {
        width: 76%;
        margin: 0 auto;
    }
  }
  @media(min-width:992px) {
    .content-section {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    #map {
      height: 400px;
    }
  }

footer{
    border: none!important;
    .telephone{
        padding-top: 8px;
    }
}


.navbar-custom .navbar-brand{
    text-transform: lowercase;
    letter-spacing: 0;
    .banner-logo{
    position: absolute;
    right: -17px;
    top: 1px;
    width: 30px!important;
    }
}    
.slider{
    width:100%;
    height:685px;
    overflow:hidden;
    position:relative;
    box-sizing: border-box;
    white-space: nowrap;

    .container{
        width: 100%;
        max-width: 100%;
        height: 685px;
        .mega-title{
            margin-top: 200px;
        }
        .banner-logo{
            width: 225px;
            top: -57px;
            position: absolute;
            left: 60%;
            @media(max-width:500px) {
                width: 100px;
                top: -24px;
                left: 76%;
              }
        }
        
    }

    .loguito{
        position: relative;
    }

    .log1{
        background-image: url("/images/route-size.jpg");
    }
    .log2{
        background-image: url("/images/route2.jpg");
        
    }
    .log3{
        background-image: url("/images/bg1.jpg");
        
    }
    .log4{
        background-image: url("/images/black.jpg");
        
    }
}

.slider.slim{
    height: 472px;
    .container{
        width: 100%;
        max-width: 100%;
        height: 472px;
        .mega-title{
            margin-top: 174px;
        }
        .banner-logo{
            width: 225px;
            top: -57px;
            position: absolute;
            left: 60%;
        }
        
    }
}

.slider > div{
    position:absolute;
    animation:move_slide2 16s infinite;
    opacity:0;
}
.slider > .log1{ animation-delay: 0; }
.slider > .log2{ animation-delay: 4s; }
.slider > .log3{ animation-delay: 8s; }
.slider > .log4{ animation-delay: 12s; }

@keyframes move_slide{
    10%{ opacity:1; }
    80%{ opacity:1; }
    90%{ opacity:0 }
}
@keyframes move_slide2{
    25%{opacity:1;}
    40%{opacity:0;}
}

.company-contact a{
    margin-top: 0!important;
    padding: 9px;
    margin-left: 61px;
}

#contact-form{
    margin-bottom: 60px;
    .form{
        width: 100%;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 40px;
        @media(max-width:992px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        .floating-left{
            float: left;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 66px;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        input.form-control{
            border-radius: 100px!important;
            &.error{
                box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
            }
        }
        textarea.form-control{
            height: 228px;
            resize: none;
            border-radius: 20px;
            &.error{
                box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
            }
            @media(max-width:765px) {
                height: 150px;
            }
        }
    }
}


#contact-everywhere{
    input.form-control{
        &.error{
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
        }
    }
    textarea.form-control{
        &.error{
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.59);
        }
    }
}

.icons-container{
    text-align: center;
    padding-bottom: 0px!important;
}

.social-buttons{
    &.whatsaap{
        float: left;
        margin-right: 10px;
    }
}

#about{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 33px;
    .timeline-image{
      background-color: black;
      &.main{
        background-color: #5f4e81;
      }
      &.gold{
        background-color: #fed136;
      }
    }
}
.timeline {
    position: relative;
    padding: 0;
    margin-bottom: 53px;
    list-style: none;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      width: 2px;
      margin-left: -1.5px;
      content: '';
      background-color: $gray-200;
    }
    > li {
      position: relative;
      min-height: 50px;
      margin-bottom: 50px;
      &:after,
      &:before {
        display: table;
        content: ' ';
      }
      &:after {
        clear: both;
      }
      .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 27px 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      .timeline-image {
        position: absolute;
        z-index: 100;
        left: 0;
        width: 80px;
        height: 80px;
        margin-left: 0;
        text-align: center;
        color: white;
        border: 7px solid $gray-200;
        border-radius: 100%;
        background-color: $primary;
        h4 {
          font-size: 10px;
          line-height: 14px;
          margin-top: 12px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 27px 20px 0 100px;
        text-align: left;
        &:before {
          right: auto;
          left: -15px;
          border-right-width: 15px;
          border-left-width: 0;
        }
        &:after {
          right: auto;
          left: -14px;
          border-right-width: 14px;
          border-left-width: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading {
      h4 {
        margin-top: 0;
        color: inherit;
        &.subheading {
          text-transform: none;
        }

        @media(max-width:600px) {
            font-size: 16px;
            width: 100px;
        }
      }
    }
    .timeline-body {
       > ul,
      > p {
        margin-bottom: 0;
      }
    }
  }
  @media(min-width:768px) {
    .timeline {
      &:before {
        left: 50%;
      }
      > li {
        min-height: 100px;
        margin-bottom: 30px;
        .timeline-panel {
          float: left;
          width: 41%;
          padding: 37px 20px 20px 30px;
          text-align: right;
        }
        .timeline-image {
          left: 50%;
          width: 100px;
          height: 100px;
          margin-left: -50px;
          h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          float: right;
          padding: 37px 30px 20px 20px;
          text-align: left;
        }
      }
    }
  }
  @media(min-width:992px) {
    .timeline {
      > li {
        min-height: 150px;
        .timeline-panel {
          padding: 55px 20px 20px;
        }
        .timeline-image {
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 55px 20px 20px;
        }
      }
    }
  }
  @media(min-width:1200px) {
    .timeline {
      > li {
        min-height: 150px;
        .timeline-panel {
          padding: 65px 20px 20px 100px;
        }
        .timeline-image {
          padding-top: 28px;
          width: 150px;
          height: 150px;
          margin-left: -75px;
          h4 {
            margin-top: 40px;
          }
        }
        &.timeline-inverted > .timeline-panel {
          padding: 65px 100px 20px 20px;
        }
      }
    }
  }

  /*
  .timeline.boomerang{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    .timeline-image{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .timeline-panel{
        display: none;
    }
  }*/

  .timeline.boomerang.none{
      display: none;
  }
  .timeline-cicle{
      .one-cicle{
        width: 20%;
        float: left;
        &.down{
            margin-top: 90px;
            margin-bottom: 37px;
        }
      }
      ul{
          .timeline-heading{
              
          }
      }
  }

  #cicle1, #cicle3, #cicle5{
    .timeline:before{
        display: none!important;
    }
      .timeline-image{
        margin-top: 36px;

        @media(max-width:600px) {
            .fa-stack{
                width: 80px;
                height: 80px;
                svg{
                    width: 34px!important;
                    margin-left: -14px;
                }
            }
        }
          img{
            width: 90px;
            margin-left: 113px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(-8deg);
            @media(max-width:500px) {
                margin-left: 32px;
                margin-top: -23px;
                width: 43px;
            }
          }
      }
      .timeline-panel{
        margin-top: 0;
        padding: 0px;
        width: 100%;
        text-align: center;
      }
  }

  #cicle2, #cicle4{
    .timeline:before{
        display: none!important;
    }
        .timeline-inverted{
            position: relative;
        }
        img{
            width: 90px;
            position: absolute;
            right: -46px;
            top: -28px;
            -moz-transform: scale(1, -1);
            -webkit-transform: scale(1, -1);
            -o-transform: scale(1, -1);
            -ms-transform: scale(1, -1);
        }

    .timeline-panel{
        padding: 0px;
        width: 100%;
        text-align: center;
        padding-top: 164px;
        @media(max-width:600px) {
            padding-top: 95px;
        }
    }

    @media(max-width:600px) {
        margin-left: -5px;
        img{
            width: 43px;
            right: -18px;
        }
        .fa-stack{
            width: 80px;
            height: 80px;
            svg{
                width: 34px!important;
                margin-left: -14px;
            }
        }
    }
}

#cicle2{
    @media(max-width:500px) {
        margin-left: -5px;
    }
}
#cicle4{
    @media(max-width:500px) {
        margin-left: -13px;
    }
}

#cicle3, #cicle5{
    .timeline-image{
        margin-left: -65px;
        @media(max-width:600px) {
            margin-left: -10px;
        }
    }
}

#contact-everywhere{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    z-index: 2000;
    right: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    cursor: pointer;
    &.closed .contact-content{
        display: none;
    }
    .header-everywhere{
        border-bottom: 1px solid gainsboro;
        text-align: center;
        padding: 10px 10px;
        p{
            display: inline;
        }
        svg{
            float: right;
            margin-top: 4px;
        }
    }
    .contact-content{
        text-align: center;
        padding: 10px 10px;
        input{
            border-radius: 100px!important;
        }
    }
    textarea{
        margin-top: 0px;
        margin-bottom: 0px;
        height: 122px;
        resize: none;
        border-radius: 20px;
    }
    .company-contact{
        text-align: center;
        a{
            margin: 0;
            width: 130px;
        }
    }
}

.timeline-big{
    width: 100%;
    max-width: 1440px;
    @media(max-width:600px) {
        display: none;
    }
}

.timeline-small{
    width: 100%;
    @media(min-width:600px) {
        display: none;
    }
}


.loader{
    position: absolute;
    width: 23px;
    top: 23px;
    left: 112px;
    display: none;
}

.loader2{
    position: absolute;
    width: 23px;
    top: 8px;
    left: 97px;
    display: none;
}

#submit-cadete a{
    position: relative;
}

#submit-cadete.sending{
    a{
        background-color: #ca82ff!important;
    }
    a:hover{
        background-color: #ca82ff!important;
    }
    .loader{
        display: block;
    }
}

#submit-empresa a{
    position: relative;
}

#submit-empresa.sending{
    a{
        background-color: #ca82ff!important;
    }
    a:hover{
        background-color: #ca82ff!important;
    }
    .loader{
        display: block;
    }
}


#submit-every a{
    position: relative;
}

#submit-every.sending{
    a{
        background-color: #ca82ff!important;
    }
    a:hover{
        background-color: #ca82ff!important;
    }
    .loader2{
        display: block;
    }
}
